{% extends 'index.html' %}
{% block style%}
<style>
	 td {
  padding: 15px;
  text-align: left;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.td_lab{
	
}
.td_error{
	
}</style>
{% endblock %}
{% block body %}
<br><br><br><br>
<div class="contanier" style="margin-left:10%; margin-right:10%;border-style:inset; ">
	<form action='cust_update' method="get">
		<table style="width:100%; margin-top:50px;margin-left:50px;margin-bottom:50px;">
		<tr style=>
			<td class='td_lab tda'>ID</td>
			<td class='tda'><input type="text" name='id_val' value='{{Cdata.id}}' readonly/></td>
			<td class='td_error tda'> </td>
			<td class='td_lab tda'>User Name</td>
			<td class='tda'><input type="text" name='user_name' value='{{Cdata.username}}' readonly/></td>
			<td class='td_error tda'> </td>
		</tr>
		<tr>
			<td class='td_lab tda'>First Name</td>
			<td class='tda'><input type="text" name='first_name' value='{{Cdata.first_name}}' required/></td>
			<td class='td_error tda'></td>
			<td class='td_lab'>Last Name</td>
			<td class='tda'><input type="text" name='last_name' value='{{Cdata.last_name}}' required/></td>
			<td class='td_error'></td>
		</tr>
		<tr>
			<td class='td_lab tda'>email</td>
			<td class='tda'><input type="email" name='email' value='{{Cdata.email}}' required/></td>
			
			<td class='tda'><button class='btn btn-lg btn-primary' style='width:200px;float:right;'>Submit</button></td>
			<td></td>
		</tr>
	</table></form>
</div>
{% endblock %}